<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Director</th>
      <th>Release date</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.director.first_name + " " + movie.director.last_name %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.address.street + " " + movie.address.zipcode %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Movie', new_movie_path %>
<%= link_to 'Actors', actors_path %>
<%= link_to 'Movie-Actors', actor_movies_path %>
<%= link_to 'Directors', directors_path %>
<%= link_to 'Addresses', addresses_path %>

